@model Pulsey.Web.Viewmodels.GroupViewModel
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="~/Content/chosen.css" />

@using (Html.BeginForm("save", "group", FormMethod.Post, new { @id = "form-save-group" }))
{
    @Html.HiddenFor(m => Model.Group.Id)
    
    @Html.LabelFor(m => Model.Group.Name)
    @Html.TextBoxFor(m => Model.Group.Name)

    <input type="submit" value="Save" class="btn btn-primary" />
}
<div id="current-users">

    @if(Model.CurrentUsers != null && Model.CurrentUsers.Any())
    {        
        @Html.Partial("_UserList", Model.CurrentUsers)
    }

</div>

<div>
     @Html.DropDownList("UserId", Model.UserList, new { @id = "group-user" })
     <button id="add-group-user" class="btn btn-success" data-group-id="@Model.Group.Id">Add</button>
</div>

 @section javascript
 {
     <script type="text/javascript" src="~/Scripts/chosen.jquery.min.js"></script>

     <script type="text/javascript">

    $(function ()
    {
        $("#group-user").chosen();
    });


    $("#add-group-user").on("click", function()
    {
        var groupUser = {UserId : $("#group-user").val(), GroupId : $(this).data("group-id")};

        $.ajax
        ({
            url: "/group/addgroupuser",
            data : groupUser,
            success : function(result)
            {
                $('#current-users').empty();
                $('#current-users').append(result);
            }
        });
    });
     </script>
 }